/* POPPINS FONT */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/* variables de estilos */
:root {
  --main-hue: 208;
  --bg-color: #fff;
  --text-color: #000;
  --bg-color-light: #94a7b339;
  --main-hue: 208;
  --bs-indigo: #6610f2;
  --bs-primary: #624bff;
  --bs-gray-dark: #343a40;
  --bs-color: #624bff;
  --bs-gray-dark: #343a40;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: var(--bg-color);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #fff;
}
.nav {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 50px;
  line-height: 100px;
  background: linear-gradient(var(--bs-color), transparent);
  z-index: 100;
}
.nav-logo p {
  color: rgb(0, 0, 0);
  font-size: 25px;
  font-weight: 700;
}
.nav-menu ul {
  display: flex;
}
.nav-menu ul li {
  list-style-type: none;
}
.nav-menu ul li .link {
  text-decoration: none;
  font-weight: 500;
  color: #000000;
  padding-bottom: 15px;
  margin: 0 25px;
}
.link:hover,
.active {
  border-bottom: 2px solid #000000;
}
#registerBtn {
  margin-left: 15px;
}
.btn.white-btn {
  background: rgba(231, 5, 234, 0.7);
}
.btn.btn.white-btn:hover {
  background: rgba(231, 5, 234, 0.7);
}
.nav-menu-btn {
  display: none;
}
.form-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 512px;
  height: 420px;
  overflow: hidden;
  z-index: 2;
}
.login-container {
  position: absolute;
  left: 4px;
  width: 500px;
  display: flex;
  flex-direction: column;
  transition: 0.5s ease-in-out;
}
.register-container {
  position: absolute;
  right: -520px;
  width: 500px;
  display: flex;
  flex-direction: column;
  transition: 0.5s ease-in-out;
}
.top span {
  color: #000000;
  font-size: small;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  text-align: center;
}
.top span a {
  font-weight: 500;
  color: #000000;
  margin-left: 5px;
}
header {
  color: #000000;
  font-size: 30px;
  text-align: center;
  padding: 10px 0 30px 0;
  font-weight: 600;
}
.two-forms {
  display: flex;
  gap: 10px;
}
.input-field {
  font-size: 15px;
  background: var(--bg-color-light);
  color: #261919;
  height: 50px;
  width: 100%;
  padding: 0 10px 0 45px;
  border: solid 2px transparent;
  border-radius: 30px;
  outline: none;
  transition: 0.2s ease;
}
.input-field:hover {
  border: 2px solid var(--bs-primary);
}
.input-field:focus {
  background-color: var(--bg-color);
  border: 2px solid var(--bs-primary);
  box-shadow: 0 0 0 5px hsla(var(--main-hue), 91%, 55%, 0.11);
}
::-webkit-input-placeholder {
  color: #342d2d;
}
.input-box i {
  position: relative;
  top: -35px;
  left: 17px;
  color: #161414;
}
.submit {
  font-size: 15px;
  font-weight: 500;
  color: var(--bg-color);
  height: 45px;
  width: 100%;
  border: none;
  border-radius: 30px;
  outline: none;
  background: var(--bs-color);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.submit:hover {
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
}
.two-col {
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-size: small;
  margin-top: 10px;
  text-align: center;
}
.two-col .one {
  display: flex;
  gap: 5px;
}
.two label a {
  text-decoration: none;
  color: #000;
}
.bx-menu {
  background-color: var(--bs-gray-dark);
}
.two label a:hover {
  text-decoration: underline;
}
@media only screen and (max-width: 786px) {
  .nav-button {
    display: none;
  }
  .nav-menu.responsive {
    top: 100px;
  }
  .nav-menu {
    position: absolute;
    top: -1200px;
    display: flex;
    justify-content: center;
    background: rgba(255, 255, 255, 0.2);
    width: 100%;
    height: 90vh;
    backdrop-filter: blur(20px);
    transition: 0.3s;
  }
  .nav-menu ul {
    flex-direction: column;
    text-align: center;
  }
  .nav-menu-btn {
    display: block;
  }
  .nav-menu-btn i {
    font-size: 25px;
    color: #ffffff;
    padding: 10px;
    background: rgba(0, 0, 0, 0.878);
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
  }
  .nav-menu-btn i:hover {
    background: var(--bs-primary);
    transition: 0.3s ease-in-out;
  }
}
@media only screen and (max-width: 540px) {
  .wrapper {
    min-height: 100vh;
  }
  .form-box {
    width: 100%;
    height: 500px;
  }
  .register-container,
  .login-container {
    width: 100%;
    padding: 0 20px;
  }
  .register-container .two-forms {
    flex-direction: column;
    gap: 0;
  }
}
